/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbar.css ====================================================
  == Styles used by XUL grippytoolbar in addition to general toolbar styles.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbar & menubar ::::: */

.toolbar-holder {
  border-left: 1px solid ThreeDHighlight;
}

toolbaritem > menubar,
toolbar > menubar {
  border-bottom: 0px none;
}

/* ::::: solid background status bar panel ::::: */

.statusbarpanel-backgroundbox {
  -moz-box-align: stretch;
  padding: 0px;
}

.statusbarpanel-backgroundbox > .statusbarpanel-contentbox {
  padding: 0px 1px;
  -moz-box-align: center;
}
